# Database Configuration
DB_HOST=localhost
DB_NAME=postgres
DB_USER=postgres
POSTGRES_PASSWORD=your_password_here

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Security
JWT_SECRET=your_jwt_secret_here

# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id_here

# Supabase Auth
SUPABASE_JWT_SECRET=your_supabase_jwt_secret_here
